*
!/.gitignore

!/fnmatch.c
!/fnmatch.in.h
/fnmatch.h

!/glob.c
!/glob.in.h
/glob.h

/Makefile.am
/_Noreturn.h
/alloca.c
/alloca.in.h
/arg-nonnull.h
/c++defs.h
/getloadavg.c
/intprops.h
/stdbool.in.h
/stddef.in.h
/stdlib.in.h
/sys_types.in.h
/unistd.c
/unistd.in.h
/warn-on-use.h
/access.c
/basename-lgpl.c
/basename-lgpl.h
/cloexec.c
/cloexec.h
/close.c
/concat-filename.c
/concat-filename.h
/dup2.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/filename.h
/findprog-in.c
/findprog.h
/fstat.c
/getdtablesize.c
/getprogname.c
/getprogname.h
/gettext.h
/limits.in.h
/malloc.c
/malloca.c
/malloca.h
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/open.c
/pathmax.h
/stat-time.c
/stat-time.h
/stat-w32.c
/stat-w32.h
/stat.c
/stdint.in.h
/stdio.in.h
/stpcpy.c
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/sys_stat.in.h
/time.in.h
/verify.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xconcat-filename.c
/xmalloc.c
